$orange-color: #ff831de3;
$white-color: #ebebeb;
$showcase_background: #333 url("../img/common/backgroundImage2.jpg");
$section_B_Image: url("../img/common/backgroundImage6.jpg");

@mixin easeOut {
  transition: all 0.4s ease-out;
}

@mixin backgroundProperties {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin mediaLg {
  @media screen and (min-width: 700px) {
    @content;
  }
}

//Set text theme
@function set-color-theme($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
