@include mediaLg {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .content-wrap {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #showcase {
    height: 60vh;
    min-height: 450px;

    .bg-image {
      height: 60vh;
      min-height: 450px;
    }
  }

  main {
    #section-a {
      height: 40vh;
      min-height: 420px;

      .content-text {
        columns: 2;
        column-gap: 2em;
      }
    }

    #section-b {
      ul {
        display: flex;
        grid-column: 2/4;
        justify-content: space-around;

        li {
          width: 31%;
        }
      }
    }

    #section-c {
      ul {
        flex-direction: row;

        li {
          margin: 1em;
        }
      }
    }

    #section-d {
      .box {
        &:first-child {
          .contact-details {
            text-align: left;
          }
        }

        &:last-child {
          grid-column: 3/5;
        }
      }

      .google-map-iframe {
        iframe {
          height: 500px;
        }
      }

      #contactForm {
        .wrapper {
          display: grid;

          * {
            padding: 0.5rem;
            grid-gap: 0px;
          }

          .contact {
            form {
              grid-gap: 0px;
            }
          }
        }
      }
    }
  }

  // GALLERY
  .gallery-section {
    grid-template-columns: 1fr 1fr;
  }
}

@include mediaXLg {
  // GALLERY
  .gallery-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
